/************************************************
                general styles
************************************************/
body
{
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 300;
}

.red-color
{
    color: #DC3545;
}

/************************************************
                title styles
************************************************/
.title
{
    text-align: center;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 0.5rem;
}

/************************************************
                bootstrap overrides
************************************************/
.btn
{
    cursor: pointer;
}